; max tile size -> 512
[default]
; default of this CVarGroup
= 3

r.PlanetTerrain.VirtualTexture.Height.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.Height.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.GroundLayerID.PhysicalPageWidth=8192
r.PlanetTerrain.VirtualTexture.GroundLayerID.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.NormalTS.PhysicalPageWidth=8192
r.PlanetTerrain.VirtualTexture.NormalTS.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.Gloss.PhysicalPageWidth=8192
r.PlanetTerrain.VirtualTexture.Gloss.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.TriplanarData.PhysicalPageWidth=8192
r.PlanetTerrain.VirtualTexture.TriplanarData.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.Albedo.PhysicalPageWidth=8192
r.PlanetTerrain.VirtualTexture.Albedo.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.NormalTS_Staging.PhysicalPageWidth=2048
r.PlanetTerrain.VirtualTexture.NormalTS_Staging.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.Gloss_Staging.PhysicalPageWidth=2048
r.PlanetTerrain.VirtualTexture.Gloss_Staging.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.TriplanarData_Staging.PhysicalPageWidth=2048
r.PlanetTerrain.VirtualTexture.TriplanarData_Staging.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.Albedo_Staging.PhysicalPageWidth=2048
r.PlanetTerrain.VirtualTexture.Albedo_Staging.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.TileSizeQualityScale=3

; max tile size -> 128
[1]
r.PlanetTerrain.VirtualTexture.Height.PhysicalPageWidth=2048
r.PlanetTerrain.VirtualTexture.Height.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.GroundLayerID.PhysicalPageWidth=2048
r.PlanetTerrain.VirtualTexture.GroundLayerID.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.NormalTS.PhysicalPageWidth=2048
r.PlanetTerrain.VirtualTexture.NormalTS.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.Gloss.PhysicalPageWidth=2048
r.PlanetTerrain.VirtualTexture.Gloss.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.TriplanarData.PhysicalPageWidth=2048
r.PlanetTerrain.VirtualTexture.TriplanarData.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.Albedo.PhysicalPageWidth=2048
r.PlanetTerrain.VirtualTexture.Albedo.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.NormalTS_Staging.PhysicalPageWidth=512
r.PlanetTerrain.VirtualTexture.NormalTS_Staging.PhysicalPageHeight=512

r.PlanetTerrain.VirtualTexture.Gloss_Staging.PhysicalPageWidth=512
r.PlanetTerrain.VirtualTexture.Gloss_Staging.PhysicalPageHeight=512

r.PlanetTerrain.VirtualTexture.TriplanarData_Staging.PhysicalPageWidth=512
r.PlanetTerrain.VirtualTexture.TriplanarData_Staging.PhysicalPageHeight=512

r.PlanetTerrain.VirtualTexture.Albedo_Staging.PhysicalPageWidth=512
r.PlanetTerrain.VirtualTexture.Albedo_Staging.PhysicalPageHeight=512

r.PlanetTerrain.VirtualTexture.TileSizeQualityScale=5

; max tile size -> 256
[2]
r.PlanetTerrain.VirtualTexture.Height.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.Height.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.GroundLayerID.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.GroundLayerID.PhysicalPageHeight=4096

r.PlanetTerrain.VirtualTexture.NormalTS.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.NormalTS.PhysicalPageHeight=4096

r.PlanetTerrain.VirtualTexture.Gloss.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.Gloss.PhysicalPageHeight=4096

r.PlanetTerrain.VirtualTexture.TriplanarData.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.TriplanarData.PhysicalPageHeight=4096

r.PlanetTerrain.VirtualTexture.Albedo.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.Albedo.PhysicalPageHeight=4096

r.PlanetTerrain.VirtualTexture.NormalTS_Staging.PhysicalPageWidth=1024
r.PlanetTerrain.VirtualTexture.NormalTS_Staging.PhysicalPageHeight=1024

r.PlanetTerrain.VirtualTexture.Gloss_Staging.PhysicalPageWidth=1024
r.PlanetTerrain.VirtualTexture.Gloss_Staging.PhysicalPageHeight=1024

r.PlanetTerrain.VirtualTexture.TriplanarData_Staging.PhysicalPageWidth=1024
r.PlanetTerrain.VirtualTexture.TriplanarData_Staging.PhysicalPageHeight=1024

r.PlanetTerrain.VirtualTexture.Albedo_Staging.PhysicalPageWidth=1024
r.PlanetTerrain.VirtualTexture.Albedo_Staging.PhysicalPageHeight=1024

r.PlanetTerrain.VirtualTexture.TileSizeQualityScale=4

; max tile size -> 1024
[4]
r.PlanetTerrain.VirtualTexture.Height.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.Height.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.GroundLayerID.PhysicalPageWidth=16384
r.PlanetTerrain.VirtualTexture.GroundLayerID.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.NormalTS.PhysicalPageWidth=16384
r.PlanetTerrain.VirtualTexture.NormalTS.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.Gloss.PhysicalPageWidth=16384
r.PlanetTerrain.VirtualTexture.Gloss.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.TriplanarData.PhysicalPageWidth=16384
r.PlanetTerrain.VirtualTexture.TriplanarData.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.Albedo.PhysicalPageWidth=16384
r.PlanetTerrain.VirtualTexture.Albedo.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.NormalTS_Staging.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.NormalTS_Staging.PhysicalPageHeight=4096

r.PlanetTerrain.VirtualTexture.Gloss_Staging.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.Gloss_Staging.PhysicalPageHeight=4096

r.PlanetTerrain.VirtualTexture.TriplanarData_Staging.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.TriplanarData_Staging.PhysicalPageHeight=4096

r.PlanetTerrain.VirtualTexture.Albedo_Staging.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.Albedo_Staging.PhysicalPageHeight=4096

r.PlanetTerrain.VirtualTexture.TileSizeQualityScale=2

; max tile size -> 2048
[5]
r.PlanetTerrain.VirtualTexture.Height.PhysicalPageWidth=4096
r.PlanetTerrain.VirtualTexture.Height.PhysicalPageHeight=2048

r.PlanetTerrain.VirtualTexture.GroundLayerID.PhysicalPageWidth=16384
r.PlanetTerrain.VirtualTexture.GroundLayerID.PhysicalPageHeight=16384

r.PlanetTerrain.VirtualTexture.NormalTS.PhysicalPageWidth=16384
r.PlanetTerrain.VirtualTexture.NormalTS.PhysicalPageHeight=16384

r.PlanetTerrain.VirtualTexture.Gloss.PhysicalPageWidth=16384
r.PlanetTerrain.VirtualTexture.Gloss.PhysicalPageHeight=16384

r.PlanetTerrain.VirtualTexture.TriplanarData.PhysicalPageWidth=16384
r.PlanetTerrain.VirtualTexture.TriplanarData.PhysicalPageHeight=16384

r.PlanetTerrain.VirtualTexture.Albedo.PhysicalPageWidth=16384
r.PlanetTerrain.VirtualTexture.Albedo.PhysicalPageHeight=16384

r.PlanetTerrain.VirtualTexture.NormalTS_Staging.PhysicalPageWidth=8192
r.PlanetTerrain.VirtualTexture.NormalTS_Staging.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.Gloss_Staging.PhysicalPageWidth=8192
r.PlanetTerrain.VirtualTexture.Gloss_Staging.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.TriplanarData_Staging.PhysicalPageWidth=8192
r.PlanetTerrain.VirtualTexture.TriplanarData_Staging.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.Albedo_Staging.PhysicalPageWidth=8192
r.PlanetTerrain.VirtualTexture.Albedo_Staging.PhysicalPageHeight=8192

r.PlanetTerrain.VirtualTexture.TileSizeQualityScale=1
